<header class="header">
    <a href="/home" class="header_logo">Node.js</a>
<nav class="header_nav">
    <ul>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact us</a>
        </li>
    </ul>
</nav>
<div class="header_button">
    <button class="searchbtn" aria-expanded="false">
        search
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#333" viewBox="0 0 512 512">
            <path d="M505 442.7L405.3 343c28.4-35.3 45.7-80 45.7-128C451 96.5 355.5 1 237.5 1S24 96.5 24 215.5 119.5 430 237.5 430c48 0 92.7-17.3 128-45.7L442.7 505c4.7 4.7 10.8 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-34zM237.5 370c-85.3 0-154.5-69.2-154.5-154.5S152.2 61 237.5 61 392 130.2 392 215.5 322.8 370 237.5 370z"/>
        </svg>
    </button>
</div>





</header>