<div class="author">
    <h1 class="author_heading">Hi, I am karthik</h1>
    <p class="author__body">Web developer and content creator.</p>
</div>
<img src="/img/hero-image.webp" alt="just a image" width="481" height="228">
<section class="article">
    <h2 class="article_heading"></h2>
    <ul class="article-ul">
<li>
    <a href="#">
        <span>Post Title</span>
        <span class="article-list_data"></span>
    </a>
</li>
       
    </ul>
    <a href="#" class="pagination">&lt;view old posts</a>
</section>